
.calculator{
    border: 1px solid #090909;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    background-color: hotpink;
    cursor: pointer;
    
}

input{
    width: 45px;
    height: 45px;
    background-color: rgb(235, 177, 206);
    border: 1px solid #000000;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.buttonContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#display{
    width: 200px;
    margin-bottom: 5px;
}
